.dialogs{
    color: #fff;
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems{
    padding: 10px;
}

.dialog{ 

}

.dialogItems .new{
    color:  black;
}

.messagesItems{
    padding: 10px ;
}

.message{

}